<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ReckonING.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SiriExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SiriExtensionUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0B17F8881EA837ED00A71E79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B17F89E1EA837EE00A71E79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B17F8A91EA837EE00A71E79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B5D40231EBBF32D004C2699</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B5D402C1EBBF32D004C2699</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
